<link rel="stylesheet" href="/styles.css">
<div>
    <nav>
        <a class="nav" href="/">Homepage</a>
        <a class="nav" href="/about">About</a>
        <a class="nav" href="/create">Create</a>
    </nav>
</div>