<html lang="en">
    <%- include('./partials/nav.ejs') %>
    <h1>About</h1>
    <p>This site was made by Brandon Kong in node.js.</p>
    <p>It uses MongoDB as its database to store all of its orders in collections,
        and Mongoose to build the schemas for orders.
    </p>
</html>